@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-info card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-edit"></i>
                     List View Header 
                    </h3>
                </div>
                <form asp-action="Create">
                    <div class="card-body">                      
                       Content       
                    </div>                 
                </form>
            </div>
        </div>
    </div>